.primary_heading {
  font-family: "Gotu", sans-serif;
}

.btn_dark {
  text-align: center;
  background: #3a3335;
  color: #f5f5f5;
}

header {
  height: auto;
  width: 100%;
}

header .top {
  background-color: #3a3335;
  border-bottom: 1px solid #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

header .top span {
  color: #fff;
  font-style: bold;
}

header .top a {
  color: #fff;
}

header .top a:first-of-type {
  margin-left: auto;
  margin-right: 1rem;
}

nav {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a3335;
}

nav .logo {
  height: 70%;
  margin: 0 3rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}

nav menu {
  display: flex;
  list-style: none;
}

nav menu li a {
  color: #f5f5f5;
  position: relative;
  text-decoration: none;
  padding: 2rem 5rem;
  transition: all 0.2s ease;
}

nav menu li a::before {
  display: inline-block;
  content: attr(data);
  position: absolute;
  font-size: 3.5rem;
  font-weight: bold;
  color: #dbdbdb;
  letter-spacing: 1rem;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  transition: all 0.2s ease;
}

nav menu li a:hover::before {
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

.hero {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f5f5f5;
  background: linear-gradient(
      90deg,
      rgba(71, 34, 40, 0.3),
      rgba(71, 34, 40, 0.3)
    ),
    url("https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      no-repeat center center/cover;
  background-attachment: fixed;
}

.hero .primary_heading {
  font-size: 3rem;
  letter-spacing: 0.75rem;
  word-spacing: 1rem;
  margin-bottom: 1rem;
}

.btn {
  padding: 1rem 2rem;
  text-decoration: none;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  transform: translate(0, -7%);
  box-shadow: 2px 5px 5px #000;
}

.btn_light {
  background-color: #f5f5f5;
  color: #3a3335;
  font-weight: bold;
}

.message,
.email_register {
  width: 100%;
  height: 80vh;
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  background: #f5f5f5;
}

.message .message_img {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.message .message_img img {
  width: 100%;
}

.message > div .secondary_para,
.email_register .secondary_para {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.message > div .primary_heading,
.email_register .primary_heading,
.testimonials .primary_heading,
.products .primary_heading,
.team .tradition > div .primary_heading {
  display: inline-block;
  font-size: 3rem;
}

.message .message_img::before {
  position: absolute;
  content: "";
  background: rgba(58, 51, 53, 0.6);
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  z-index: 2;
  transition: all 0.3s ease;
}

.message .message_img:hover::before {
  opacity: 1;
}

.email_register {
  display: flex;
  align-items: center;
  background: linear-gradient(
      90deg,
      rgba(58, 51, 53, 0.3),
      rgba(58, 51, 53, 0.6)
    ),
    url("https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      no-repeat center center/cover;
  background-attachment: fixed;
  color: #f5f5f5;
}

.email_register > div {
  width: 50%;
  height: 100%;
  margin-left: auto;
}

.email_register .email_input {
  position: relative;
  height: 5vh;
  width: 100%;
}

input,
textarea {
  font-family: "Dosis", sans-serif;
}

.email_register .email_input input {
  padding: 0.5rem 0.25rem;
  width: 50%;
  background: #f5f5f5;
  border: #f5f5f5;
  color: #3a3335;
}

.email_register .email_input button {
  position: absolute;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  border-left: 1px solid #3a3335;
  height: 100%;
  outline: none;
  top: 0;
  left: 50%;
  transform: translate(-100%);
  cursor: pointer;
}

.testimonials,
.products {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  padding: 5rem;
  grid-column-gap: 1rem;
  color: #f5f5f5;
  background: linear-gradient(
      90deg,
      rgba(58, 51, 53, 0.3),
      rgba(58, 51, 53, 0.6)
    ),
    url("https://images.pexels.com/photos/1480520/pexels-photo-1480520.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      no-repeat center center/cover;
  background-attachment: fixed;
}

.testimonials > h1,
.products > h1 {
  grid-column: 1/-1;
  text-align: center;
}

.testimonials > p,
.products > p {
  text-align: center;
  grid-column: 1/-1;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.testimonials .testimonial,
.products .product {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #f5f5f5;
  padding: 3rem;
  background: rgba(58, 51, 53, 0.2);
  cursor: pointer;
  box-shadow: 0;
  transition: all 0.3s ease;
}

.testimonials .testimonial p:nth-of-type(2),
.team .tradition > div p:nth-of-type(1) {
  display: inline-block;
  margin: 1rem 0;
}

.testimonials .testimonial:hover {
  box-shadow: 5px 5px 10px #3a3335;
}

.products {
  background: #f5f5f5;
  color: #3a3335;
}

.products .product {
  background: none;
}

.products .product p:nth-of-type(1) {
  display: inline-block;
  margin: 1rem 0;
}

.products .btn {
  width: 30%;
  grid-column: 1/-1;
  margin: 2rem auto;
}

footer {
  width: 100%;
  height: 40vh;
  background: #333;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 5rem;
  grid-column-gap: 1rem;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #f5f5f5;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div img {
  width: 20%;
  border-radius: 50%;
  margin-bottom: 1rem;
}

footer div a {
  color: #f5f5f5;
  padding: 0.5rem 0;
}

footer div h3 {
  font-family: "Gotu", sans-serif;
}

.team {
  width: 100%;
  height: auto;

  z-index: 1;
  background: #f5f5f5;
  padding: 5rem;
}

.team .tradition {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-row-gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.team .tradition > div {
  height: 100%;
  width: 100%;
}

.team .tradition .tradition_img {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.team .tradition .tradition_img img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.7s ease;
}

.team .tradition img:hover {
  width: 120%;
}

.members {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  align-content: center;
  align-items: center;
}

.members .primary_heading,
.contact .primary_heading {
  grid-column: 1/-1;
  text-align: center;
  margin: 2rem 0;
  font-size: 3rem;
}

.members .member {
  text-align: center;
  width: 100%;
}

.members .member h1 {
  display: inline-block;
  margin: 1.5rem 0;
}

.members .member img {
  width: 100%;
}

.contact {
  width: 100%;
  height: 100vh;

  background: #f5f5f5;
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}

.user-form-container {
  width: 100%;
  background: #f5f5f5;
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.user-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-form input,
.user-form textarea,
.user-form select {
  width: 100%;
  padding: 0.5rem 0.25rem;
  margin-bottom: 1rem;
}

.contact .contact_details p {
  margin: 1rem 0;
}

.contact .contact_details p:last-of-type {
  margin-top: 2rem;
}

.contact_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  align-items: center;
}

.contact_form input,
.contact_form textarea {
  padding: 0.5rem 0.25rem;
}

.contact_form #subject,
.contact_form #concern {
  grid-column: 1/-1;
}

.contact .primary_heading {
  text-align: left;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 3rem;
  grid-gap: 1rem;
}

.gallery img {
  width: 100% !important;
}
