@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&family=Gotu&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    font-family: 'Dosis', sans-serif;
    background-color: #F5F5F5;
}